In [85]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sn
import io

In [86]:
df = pd.read_csv(r"C:\Users\s145n\Documents\Mdoc\D.A\Brasil e-commerce dataset\olist_customers_dataset_csv.csv",sep=";") #comando utilizado pra leitura de arquivo .csv

In [87]:
df.head # imprime os dados do cabeçalho

<bound method NDFrame.head of                             customer_id                customer_unique_id  \
0      06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1      18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2      4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3      b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4      4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066
...                                 ...                               ...
99436  17ddf5dd5d51696bb3d7c6291687be6f  1a29b476fee25c95fbafc67c5ac95cf8
99437  e7b71a9017aa05c9a7fd292d714858e8  d52a67c98be1cf6a5c84435bd38d095d
99438  5e28dfe12db7fb50a4b2f691faecea5e  e9f50caf99f032f0bf3c55141f019d99
99439  56b18e2166679b8a959d72dd06da27f9  73c2643a0a458b49f58cea58833b192e
99440  274fa6071e5e17fe303b9748641082c8  84732c5050c01db9b23e19ba39899398

       customer_zip_code_prefix          customer_city customer_state
0                         14409                 franca             SP
1                          9790  sao bernardo do campo             SP
2                          1151              sao paulo             SP
3                          8775        mogi das cruzes             SP
4                         13056               campinas             SP
...                         ...                    ...            ...
99436                      3937              sao paulo             SP
99437                      6764        taboao da serra             SP
99438                     60115              fortaleza             CE
99439                     92120                 canoas             RS
99440                      6703                  cotia             SP

[99441 rows x 5 columns]>

In [88]:
df.index # imprime o indice que da nome aos itens da lista

RangeIndex(start=0, stop=99441, step=1)

In [89]:
df.columns # mostra o rótulo ou nome das coluns do dataframe

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [90]:
df.to_numpy #transforma o datafame em uma matriz numpy

<bound method DataFrame.to_numpy of                             customer_id                customer_unique_id  \
0      06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1      18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2      4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3      b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4      4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066
...                                 ...                               ...
99436  17ddf5dd5d51696bb3d7c6291687be6f  1a29b476fee25c95fbafc67c5ac95cf8
99437  e7b71a9017aa05c9a7fd292d714858e8  d52a67c98be1cf6a5c84435bd38d095d
99438  5e28dfe12db7fb50a4b2f691faecea5e  e9f50caf99f032f0bf3c55141f019d99
99439  56b18e2166679b8a959d72dd06da27f9  73c2643a0a458b49f58cea58833b192e
99440  274fa6071e5e17fe303b9748641082c8  84732c5050c01db9b23e19ba39899398

       customer_zip_code_prefix          customer_city customer_state
0                         14409                 franca             SP
1                          9790  sao bernardo do campo             SP
2                          1151              sao paulo             SP
3                          8775        mogi das cruzes             SP
4                         13056               campinas             SP
...                         ...                    ...            ...
99436                      3937              sao paulo             SP
99437                      6764        taboao da serra             SP
99438                     60115              fortaleza             CE
99439                     92120                 canoas             RS
99440                      6703                  cotia             SP

[99441 rows x 5 columns]>

In [99]:
df.describe() # imprime estatisticas descritivas

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

In [92]:
df.to_numpy() #imprime os dados do df em forma de vetores

array([['06b8999e2fba1a1fbc88172c00ba8bc7',
        '861eff4711a542e4b93843c6dd7febb0', 14409, 'franca', 'SP'],
       ['18955e83d337fd6b2def6b18a428ac77',
        '290c77bc529b7ac935b93aa66c333dc3', 9790,
        'sao bernardo do campo', 'SP'],
       ['4e7b3e00288586ebd08712fdd0374a03',
        '060e732b5b29e8181a18229c7b0b2b5e', 1151, 'sao paulo', 'SP'],
       ...,
       ['5e28dfe12db7fb50a4b2f691faecea5e',
        'e9f50caf99f032f0bf3c55141f019d99', 60115, 'fortaleza', 'CE'],
       ['56b18e2166679b8a959d72dd06da27f9',
        '73c2643a0a458b49f58cea58833b192e', 92120, 'canoas', 'RS'],
       ['274fa6071e5e17fe303b9748641082c8',
        '84732c5050c01db9b23e19ba39899398', 6703, 'cotia', 'SP']],
      dtype=object)

In [100]:
df.T # organiza o que era somente indice em coluna

,0,1,2,3,4,5,6,7,8,9,...,99431,99432,99433,99434,99435,99436,99437,99438,99439,99440
customer_id,06b8999e2fba1a1fbc88172c00ba8bc7,18955e83d337fd6b2def6b18a428ac77,4e7b3e00288586ebd08712fdd0374a03,b2b6027bc5c5109e529d4dc6358b12c3,4f2d8ab171c80ec8364f7c12e35b23ad,879864dab9bc3047522c92c82e1212b8,fd826e7cf63160e536e0908c76c3f441,5e274e7a0c3809e14aba7ad5aae0d407,5adf08e34b2e993982a47070956c5c65,4b7139f34592b3a31687243a302fa75b,...,be842c57a8c5a62e9585dd72f22b6338,f255d679c7c86c24ef4861320d5b7675,14308d2303a3e2bdf4939b86c46d2679,f5a0b560f9e9427792a88bec97710212,7fe2e80252a9ea476f950ae8f85b0f8f,17ddf5dd5d51696bb3d7c6291687be6f,e7b71a9017aa05c9a7fd292d714858e8,5e28dfe12db7fb50a4b2f691faecea5e,56b18e2166679b8a959d72dd06da27f9,274fa6071e5e17fe303b9748641082c8
customer_unique_id,861eff4711a542e4b93843c6dd7febb0,290c77bc529b7ac935b93aa66c333dc3,060e732b5b29e8181a18229c7b0b2b5e,259dac757896d24d7702b9acbbff3f3c,345ecd01c38d18a9036ed96c73b8d066,4c93744516667ad3b8f1fb645a3116a4,addec96d2e059c80c30fe6871d30d177,57b2a98a409812fe9618067b6b8ebe4f,1175e95fb47ddff9de6b2b06188f7e0d,9afe194fb833f79e300e37e580171f22,...,ca186065de6e2d01cfc99763e6d62048,d111b06b6f3a2add0d2241325f65b5ca,e7f8760e2bbd2f1986bebd99596c088e,b3e53d18a997f27a3ffd16da497eaf58,4b5820135d360a45552b5163835b1d89,1a29b476fee25c95fbafc67c5ac95cf8,d52a67c98be1cf6a5c84435bd38d095d,e9f50caf99f032f0bf3c55141f019d99,73c2643a0a458b49f58cea58833b192e,84732c5050c01db9b23e19ba39899398
customer_zip_code_prefix,14409,9790,1151,8775,13056,89254,4534,35182,81560,30575,...,99150,13500,66033,7790,35500,3937,6764,60115,92120,6703
customer_city,franca,sao bernardo do campo,sao paulo,mogi das cruzes,campinas,jaragua do sul,sao paulo,timoteo,curitiba,belo horizonte,...,marau,rio claro,belem,cajamar,divinopolis,sao paulo,taboao da serra,fortaleza,canoas,cotia
customer_state,SP,SP,SP,SP,SP,SC,SP,MG,PR,MG,...,RS,SP,PA,SP,MG,SP,SP,CE,RS,SP

In [101]:
df.dtypes  # imprime o tipo de dados que o df possui

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [103]:
df.shape #imprime as dimensões do df, no caso são 99441 linhas e 5 colunas

(99441, 5)

In [104]:
df.head() # imprime o cabeçalho ou os 5 primeirio elementos

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [106]:
df.isnull().sum() ##procura valores nulos

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [107]:
df.customer_city # imprime todos os dados dos consumidores e suas respectivas cidades

0                       franca
1        sao bernardo do campo
2                    sao paulo
3              mogi das cruzes
4                     campinas
                 ...
99436                sao paulo
99437          taboao da serra
99438                fortaleza
99439                   canoas
99440                    cotia
Name: customer_city, Length: 99441, dtype: object

In [112]:
df.customer_state # imprime todos os dados a respeito do estado de cada consumidor

0        SP
1        SP
2        SP
3        SP
4        SP
         ..
99436    SP
99437    SP
99438    CE
99439    RS
99440    SP
Name: customer_state, Length: 99441, dtype: object

In [113]:
df.customer_city.max() # imprime a cidade que mais compra online dentre asa presentes no dataset. Nesse caso foi a cidade de Zortea em santa catarina

'zortea'

In [115]:
df.customer_state.max() # imprimiu o estado que mais comprou como sendo o estado do Tocantins

'TO'

In [125]:
df.get(['customer_city','customer_state'])

               customer_city customer_state
0                     franca             SP
1      sao bernardo do campo             SP
2                  sao paulo             SP
3            mogi das cruzes             SP
4                   campinas             SP
...                      ...            ...
99436              sao paulo             SP
99437        taboao da serra             SP
99438              fortaleza             CE
99439                 canoas             RS
99440                  cotia             SP

[99441 rows x 2 columns]